@charset "utf-8";
body {
	font-size: 12px;
	background-color: #FFFFFF;
	color: #000000;
	background-position: center top;
}
td {  font-size: 12px; color: #000000; line-height: 175%}
.txt {line-height: 140%}


a {  font-size: 12px; color: #666666; text-decoration: none}
a:link {  font-size: 12px; color: #666666; text-decoration: none}
a:visited {  font-size: 12px; color: #666666; text-decoration: none}
a:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.ab {  font-size: 12px; color: #003366; text-decoration: none}
a.ab:link {  font-size: 12px; color: #003366; text-decoration: none}
a.ab:visited {  font-size: 12px; color: #003366; text-decoration: none}
a.ab:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.ab1 {  font-size: 12px; color: #0099CC; text-decoration: none}
a.ab1:link {  font-size: 12px; color: #0099CC; text-decoration: none}
a.ab1:visited {  font-size: 12px; color: #0099CC; text-decoration: none}
a.ab1:hover {  font-size: 12px; color: #ff0000; text-decoration: none}

.ab14 {  font-size: 14px; color: #0066cc; text-decoration: none}
a.ab14:link {  font-size: 14px; color: #0066cc; text-decoration: none}
a.ab14:visited {  font-size: 14px; color: #0066cc; text-decoration: none}
a.ab14:hover {  font-size: 14px; color: #ff0000; text-decoration: none}

.abk {  font-size: 12px; color: #000000; text-decoration: none}
a.abk:link {  font-size: 12px; color: #000000; text-decoration: none}
a.abk:visited {  font-size: 12px; color: #000000; text-decoration: none}
a.abk:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.abk14 {  font-size: 14px; color: #000000; text-decoration: none}
a.abk14:link {  font-size: 14px; color: #000000; text-decoration: none}
a.abk14:visited {  font-size: 14px; color: #000000; text-decoration: none}
a.abk14:hover {  font-size: 14px; color: #ff0000; text-decoration: none}

.abk16 {  font-size: 16px; color: #000000; text-decoration: none}
a.abk16:link {  font-size: 16px; color: #000000; text-decoration: none}
a.abk16:visited {  font-size: 16px; color: #000000; text-decoration: none}
a.abk16:hover {  font-size: 16px; color: #ff0000; text-decoration: none}

.abk24 {  font-size: 24px; color: #000000; text-decoration: none}
a.abk24:link {  font-size: 24px; color: #000000; text-decoration: none}
a.abk24:visited {  font-size: 24px; color: #000000; text-decoration: none}
a.abk24:hover {  font-size: 24px; color: #ff0000; text-decoration: none}

.ay {  font-size: 12px; color: #FFFF00; text-decoration: none}
a.ay:link {  font-size: 12px; color: #FFFF00; text-decoration: none}
a.ay:visited {  font-size: 12px; color: #FFFF00; text-decoration: none}
a.ay:hover {  font-size: 12px; color: #ffffff; text-decoration: none}

.aw {  font-size: 12px; color: #FFFFff; text-decoration: none}
a.aw:link {  font-size: 12px; color: #FFFFff; text-decoration: none}
a.aw:visited {  font-size: 12px; color: #FFFFff; text-decoration: none}
a.aw:hover {  font-size: 12px; color: #ffff00; text-decoration: underline}

.aw14 {  font-size: 14px; color: #FFFFff; text-decoration: none}
a.aw14:link {  font-size: 14px; color: #FFFFff; text-decoration: none}
a.aw14:visited {  font-size: 14px; color: #FFFFff; text-decoration: none}
a.aw14:hover {  font-size: 14px; color: #000000; text-decoration: none}

.ar {  font-size: 12px; color: #ee0000; text-decoration: none}
a.ar:link {  font-size: 12px; color: #ee0000; text-decoration: none}
a.ar:visited {  font-size: 12px; color: #ee0000; text-decoration: none}
a.ar:hover {  font-size: 12px; color: #ff00ff; text-decoration: underline}

.ar14 {	font-size: 14px;	color: #ee0000;	text-decoration: none;}
a.ar14:link {  font-size: 14px; color: #ee0000; text-decoration: none}
a.ar14:visited {  font-size: 14px; color: #ee0000; text-decoration: none}
a.ar14:hover {  font-size: 14px; color: #ff00ff; text-decoration: underline}

.ag {  font-size: 12px; color: #FF6600; text-decoration: none}
a.ag:link {  font-size: 12px; color: #FF6600; text-decoration: none}
a.ag:visited {  font-size: 12px; color: #FF6600; text-decoration: none}
a.ag:hover {  font-size: 12px; color: #FF0000; text-decoration: underline}

.ag14 {  font-size: 14px; color: #FF6600; text-decoration: none}
a.ag14:link {  font-size: 14px; color: #FF6600; text-decoration: none}
a.ag14:visited {  font-size: 14px; color: #FF6600; text-decoration: none}
a.ag14:hover {  font-size: 14px; color: #FF0000; text-decoration: underline}

.agr {  font-size: 12px; color: #006600; text-decoration: none}
a.agr:link {  font-size: 12px; color: #006600; text-decoration: none}
a.agr:visited {  font-size: 12px; color: #006600; text-decoration: none}
a.agr:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.agr14 {  font-size: 14px; color: #006600; text-decoration: none}
a.agr14:link {  font-size: 14px; color: #006600; text-decoration: none}
a.agr14:visited {  font-size: 14px; color: #006600; text-decoration: none}
a.agr14:hover {  font-size: 14px; color: #ff0000; text-decoration: underline}

.agr1 {  font-size: 12px; color: #006600; text-decoration: none}
a.agr1:link {  font-size: 12px; color: #006600; text-decoration: none}
a.agr1:visited {  font-size: 12px; color: #006600; text-decoration: none}
a.agr1:hover {  font-size: 12px; color: #ff00ff; text-decoration: underline}

.agy {  font-size: 12px; color: #666666; text-decoration: none}
a.agy:link {  font-size: 12px; color: #666666; text-decoration: none}
a.agy:visited {  font-size: 12px; color: #666666; text-decoration: none}
a.agy:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.agy14 {  font-size: 14px; color: #666666; text-decoration: none}
a.agy14:link {  font-size: 14px; color: #666666; text-decoration: none}
a.agy14:visited {  font-size: 14px; color: #666666; text-decoration: none}
a.agy14:hover {  font-size: 14px; color: #ff0000; text-decoration: underline}

.agd {  font-size: 12px; color: #CC9900; text-decoration: none}
a.agd:link {  font-size: 12px; color: #CC9900; text-decoration: none}
a.agd:visited {  font-size: 12px; color: #CC9900; text-decoration: none}
a.agd:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.ap {  font-size: 12px; color: #ff00ff; text-decoration: none}
a.ap:link {  font-size: 12px; color: #ff00ff; text-decoration: none}
a.ap:visited {  font-size: 12px; color: #ff00ff; text-decoration: none}
a.ap:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.ap14 {  font-size: 14px; color: #ff00ff; text-decoration: none}
a.ap14:link {  font-size: 14px; color: #ff00ff; text-decoration: none}
a.ap14:visited {  font-size: 14px; color: #ff00ff; text-decoration: none}
a.ap14:hover {  font-size: 14px; color: #ff0000; text-decoration: underline}

.ap1 {  font-size: 12px; color: #9900ff; text-decoration: none}
a.ap1:link {  font-size: 12px; color: #9900ff; text-decoration: none}
a.ap1:visited {  font-size: 12px; color: #9900ff; text-decoration: none}
a.ap1:hover {  font-size: 12px; color: #ff0000; text-decoration: underline}

.ac {  font-size: 12px; color: #009999; text-decoration: none}
a.ac:link {  font-size: 12px; color: #009999; text-decoration: none}
a.ac:visited {  font-size: 12px; color: #009999; text-decoration: none}
a.ac:hover {  font-size: 12px; color: #006600; text-decoration: underline}

.ac14 {  font-size: 14px; color: #009999; text-decoration: none}
a.ac14:link {  font-size: 14px; color: #009999; text-decoration: none}
a.ac14:visited {  font-size: 14px; color: #009999; text-decoration: none}
a.ac14:hover {  font-size: 14px; color: #006600; text-decoration: underline}

input {
	font-size: 12px;
	font-family: "Arial", "Helvetica", "sans-serif";
	height: 19px;
}
select {
	font-size: 12px;
	height: 19px;
}
.searchl {
	width: 100px;
}

textarea {  font-size: 12px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.hand {  cursor: hand}

.ina {  font-size: 12px; color: #003366; background-color: #FFFFFF; height: 21px; border: 1px #003366 solid; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
.confirm {	width: 30px;}

.imagesover {  filter:Gray;}
.imagesup {  filter: Alpha(Opacity=100)}
.alpha{  filter:Alpha(Opacity=66)}

form {  margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
ul {  padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px}
li {  padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.p100 {	width: 100%;}

.linered {	border-top-width: 0px;	border-right-width: 0px;	border-bottom-width: 1px;	border-left-width: 0px;	border-top-style: dashed;	border-right-style: dashed;	border-bottom-style: dashed;	border-left-style: dashed;	border-top-color: #ee0000;	border-right-color: #ee0000;	border-bottom-color: #ee0000;	border-left-color: #ee0000;}
.line1 {
	border-top-width: 0px;	border-right-width: 0px;	border-bottom-width: 1px;	border-left-width: 0px;	border-top-style: dashed;	border-right-style: dashed;	border-bottom-style: dashed;	border-left-style: dashed;	border-top-color: #CCCCCC;	border-right-color: #CCCCCC;	border-bottom-color: #CCCCCC;	border-left-color: #CCCCCC;}

.line2 {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.butbg {
	background-image: url(../images/but_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.footbg {
	background-image: url(../images/footbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.f1tbg1 {
	background-image: url(../images/f1_bg1.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #0099CC;
}
.f1bd {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0099CC;
	border-right-color: #0099CC;
	border-bottom-color: #0099CC;
	border-left-color: #0099CC;
}
.f1bbg {
	background-image: url(../images/f1_bbg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.f1tbg2 {
	background-image: url(../images/f1_bg2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	font-weight: normal;
}
.f2tbg {
	background-image: url(../images/f2tbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.navbg {
	background-image: url(../images/nav_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	background-color: #F8F8F8;
}
.navbg1 {
	background-image: url(../images/nav_bg1.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.navbg2 {
	background-image: url(../images/nav_bg2.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.navtbg {
	background-color: #F8F8F8;
	background-image: url(../images/nav_tbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.ttbg {
	background-image: url(../images/tt_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.prof {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
