<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.willow.door.admin.product.mapper.ProductMapper">
<resultMap id="ProductMap" type="com.willow.door.admin.product.domain.Product">
    <!--表主键-->
    <result column="obj_id" property="objId"/>
    <!--创建时间-->
    <result column="create_time" property="createTime"/>
    <!--更新时间-->
    <result column="update_time" property="updateTime"/>
    <!--操作人-->
    <result column="user_id" property="userId"/>
    <!--产品编号-->
    <result column="product_sn" property="productSn"/>
    <!--产品中文名称-->
    <result column="product_name" property="productName"/>
    <!--产品英文名称-->
    <result column="product_name_en" property="productNameEn"/>
    <!--产品中文规格-->
    <result column="product_norms" property="productNorms"/>
    <!--产品英文规格-->
    <result column="product_norms_en" property="productNormsEn"/>
    <!--产品型号-->
    <result column="product_version" property="productVersion"/>
    <!--产品分类-->
    <result column="catalog_id" property="catalogId"/>
    <!--产品中文详情-->
    <result column="product_desc" property="productDesc"/>
    <!--产品英文详情-->
    <result column="product_desc_en" property="productDescEn"/>
    <!--产品图片-->
    <result column="product_image" property="productImage"/>
    <!--浏览次数-->
    <result column="browse_time" property="browseTime"/>
</resultMap>
    <!--列信息-->
    <sql id="column_list">
        obj_id,create_time,update_time,user_id,product_sn,product_name,product_name_en,product_norms,product_norms_en,product_version,catalog_id,product_desc,product_desc_en,product_image,browse_time
    </sql>
    <!--criteria的动态条件-->
    <sql id="criteria_filters">
        <where>
            <if test="criteria.valid">
                <trim prefix="(" suffix=")" prefixOverrides="and">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                                <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                         separator=",">
                                #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </where>
    </sql>
    <!--动态条件-->
    <sql id="where_filters">
        <where>
            <if test="objId !=null and objId !=''">
                and obj_id=#{objId}
            </if>
            <if test="createTime !=null and createTime !=''">
                and create_time=#{createTime}
            </if>
            <if test="updateTime !=null and updateTime !=''">
                and update_time=#{updateTime}
            </if>
            <if test="userId !=null and userId !=''">
                and user_id=#{userId}
            </if>
            <if test="productSn !=null and productSn !=''">
                and product_sn=#{productSn}
            </if>
            <if test="productName !=null and productName !=''">
                and product_name=#{productName}
            </if>
            <if test="productNameEn !=null and productNameEn !=''">
                and product_name_en=#{productNameEn}
            </if>
            <if test="productNorms !=null and productNorms !=''">
                and product_norms=#{productNorms}
            </if>
            <if test="productNormsEn !=null and productNormsEn !=''">
                and product_norms_en=#{productNormsEn}
            </if>
            <if test="productVersion !=null and productVersion !=''">
                and product_version=#{productVersion}
            </if>
            <if test="catalogId !=null and catalogId !=''">
                and catalog_id=#{catalogId}
            </if>
            <if test="productDesc !=null and productDesc !=''">
                and product_desc=#{productDesc}
            </if>
            <if test="productDescEn !=null and productDescEn !=''">
                and product_desc_en=#{productDescEn}
            </if>
            <if test="productImage !=null and productImage !=''">
                and product_image=#{productImage}
            </if>
            <if test="browseTime !=null and browseTime !=''">
                and browse_time=#{browseTime}
            </if>
        </where>
    </sql>
    <!--保存-->
    <insert id="save" parameterType="com.willow.door.admin.product.domain.Product">
        INSERT INTO t_door_product(<include refid="column_list"/>)
        VALUES (#{objId},#{createTime},#{updateTime},#{userId},#{productSn},#{productName},#{productNameEn},#{productNorms},#{productNormsEn},#{productVersion},#{catalogId},#{productDesc},#{productDescEn},#{productImage},#{browseTime});
    </insert>

    <!--根据主键查询对象数据-->
    <select id="selectByObjId" parameterType="string" resultMap="ProductMap">
        select
        <include refid="column_list"/>
        from t_door_product
        where obj_id=#{objId}
    </select>

    <!--根据主键删除-->
    <delete id="deleteByObjId" parameterType="string">
        delete from t_door_product where obj_id=#{objId}
    </delete>

    <!--根据条件删除-->
    <delete id="deleteByParam" parameterType="map">
        delete from t_door_product
        <include refid="where_filters"/>
    </delete>

    <!--更新-->
    <update id="update" parameterType="com.willow.door.admin.product.domain.Product">
        update t_door_product
        <set>
            obj_id=#{objId},
            create_time=#{createTime},
            update_time=#{updateTime},
            user_id=#{userId},
            product_sn=#{productSn},
            product_name=#{productName},
            product_name_en=#{productNameEn},
            product_norms=#{productNorms},
            product_norms_en=#{productNormsEn},
            product_version=#{productVersion},
            catalog_id=#{catalogId},
            product_desc=#{productDesc},
            product_desc_en=#{productDescEn},
            product_image=#{productImage},
            browse_time=#{browseTime}
        </set>
        where obj_id=#{objId}
    </update>

    <!--根据主键ID更新不为空的字段-->
    <update id="updateByIdSelective" parameterType="com.willow.door.admin.product.domain.Product">
        update t_door_product
        <set>
            <if test="objId !=null">
                obj_id=#{objId},
            </if>
            <if test="createTime !=null">
                create_time=#{createTime},
            </if>
            <if test="updateTime !=null">
                update_time=#{updateTime},
            </if>
            <if test="userId !=null">
                user_id=#{userId},
            </if>
            <if test="productSn !=null">
                product_sn=#{productSn},
            </if>
            <if test="productName !=null">
                product_name=#{productName},
            </if>
            <if test="productNameEn !=null">
                product_name_en=#{productNameEn},
            </if>
            <if test="productNorms !=null">
                product_norms=#{productNorms},
            </if>
            <if test="productNormsEn !=null">
                product_norms_en=#{productNormsEn},
            </if>
            <if test="productVersion !=null">
                product_version=#{productVersion},
            </if>
            <if test="catalogId !=null">
                catalog_id=#{catalogId},
            </if>
            <if test="productDesc !=null">
                product_desc=#{productDesc},
            </if>
            <if test="productDescEn !=null">
                product_desc_en=#{productDescEn},
            </if>
            <if test="productImage !=null">
                product_image=#{productImage},
            </if>
            <if test="browseTime !=null">
                browse_time=#{browseTime},
            </if>
        </set>
        where obj_id=#{objId}
    </update>

    <!--根据条件查询列表-->
    <select id="queryList" parameterType="map" resultMap="ProductMap">
        select
        <include refid="column_list"/>
        from t_door_product
        <include refid="where_filters"/>
        <if test="sortFieldName!=null and sortFieldName!=''">
            ORDER BY
            ${sortFieldName}
            <if test="sortType!=null and sortType!=''">
            ${sortType}
            </if>
        </if>
        <if test="pageFirst!=null">
            limit #{pageFirst},#{pageSize}
        </if>
    </select>

    <!--根据条件查询数量-->
    <select id="countList" parameterType="map" resultType="int">
        select count(*) from t_door_product
        <include refid="where_filters"/>
    </select>


    <!--根据条件查询唯一记录-->
    <select id="selectByCondition" parameterType="map" resultMap="ProductMap">
        select
        <include refid="column_list"/>
        from t_door_product
        <include refid="where_filters"/>
    </select>


    <!--根据Criteria方式查询列表-->
    <select id="queryListByCriteria" parameterType="map" resultMap="ProductMap">
        select
        <include refid="column_list"/>
        from t_door_product
        <include refid="criteria_filters"/>
        <if test="sortFieldName!=null and sortFieldName!=''">
            ORDER BY
            ${sortFieldName}
            <if test="sortType!=null and sortType!=''">
            ${sortType}
            </if>
        </if>
        <if test="pageFirst!=null">
            limit #{pageFirst},#{pageSize}
        </if>
    </select>

    <!--根据Criteria方式查询数量-->
    <select id="countListByCriteria" parameterType="map" resultType="int">
        select count(*) from t_door_product
        <include refid="criteria_filters"/>
    </select>


</mapper>