<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>组件实例</title>
    <link type="text/css" rel="stylesheet" href="/resources/skins/shopadmin/css/public.css"/>
</head>
<body>
组件列表如下：<br/>
<a href="egrid/demo.htm" target="_blank">egrid前台列表</a><br/>
<a href="ejqgrid/demo.html" target="_blank">ejqgrid后台列表</a><br/>
<a href="jdialog/demo.html" target="_blank">窗口，提示框等</a><br/>
<a href="checkValid/demo.html" target="_blank">js验证框架</a><br/>
</body>
</html>